
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

@{
    var chart = new Chart(width: 500, height: 500);
    chart.AddTitle(text: "Kategoriler ve Ürün Sayıları");
    chart.AddLegend(title: "Değerler");

    chart.AddSeries(
        //chartType:"Bubble",
        //chartType:"Pie",
        //chartType:"Doughnut",
        //chartType:"Area",
        chartType:"Bar",
        name: "Veriler",
        xValue: new[] { "Beyaz Eşya", "Televizon", "Bilgisayar", "Küçük Ev Aletleri" },
        yValues: new[] { 500, 250, 350, 620 }
        );
    chart.Write();
}