@model MvcOnlineTradingAutomation.Models.Entities.Category
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<form method="post">
    <input class="form-control" name="CategoryName" placeholder="Kategori Adı" required/>
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>

