@using MvcOnlineTradingAutomation.Models.Entities
@using PagedList
@using PagedList.Mvc
@model IPagedList<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.7.0.js"></script>
<br />
<table class="table table-bordered">
    <tr>
        <th>Kategori Adı</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CategoryName</td>
            <td><a href="/Category/RemoveCategory/@x.CategoryId" class="btn btn-danger">Sil</a> <a href="/Category/EditCategory/@x.CategoryId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager(Model as IPagedList, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string> 
    { "page-link" }
})
<a data-toggle="modal" data-target="#Modal1" class="btn btn-primary">Yeni Kategori</a>
<div class="modal fade" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Yeni Kategori Ekleme</h3>
            </div>
            <form method="post" action="/Category/CreateCategory">
                <div class="modal-body">
                    <input class="form-control" name="CategoryName" placeholder="Kategori Adı" required />
                    <br />
                    <button class="btn btn-success" id="Btn1">Kaydet</button>
                    <script>
                        $('#Btn1').click(function () {
                            alert('Kategori Başarılı Bir Şekilde Eklendi')
                        });
                    </script>
                </div>
            </form>
        </div>
    </div>
</div>