@model MvcOnlineTradingAutomation.Models.Entities.InvoiceDocument
@{
    ViewBag.Title = "CreateInvoiceDocument";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Kalem Girişi</h2>
<br />
<form method="post">
    <label>Açıklama</label>
    <input name="Description" class="form-control" required />
    <br />
    <label>Miktar</label>
    <input name="Amount" class="form-control" oninput="formatQuantityInput(this)" required />
    <br />
    <label>Birim Fiyat</label>
    <input name="UnitPrice" class="form-control" oninput="formatPriceInput(this)" required />
    <br />
    <input type="hidden" name="InvoiceId" value="@ViewBag.InvoiceId" readonly />
    <button class="btn btn-success">Kaydet</button>
</form>
<script>
    function formatPriceInput(input) {
        // Kullanıcının girişini temizle
        input.value = input.value
            .replace(/[^0-9,.]/g, '')   // Sadece 0-9, "," ve "." izin ver
            .replace('.', ',');         // Noktayı virgüle çevir

        // Eğer birden fazla virgül varsa, sadece ilkini tut
        let parts = input.value.split(',');
        if (parts.length > 2) {
            input.value = parts[0] + ',' + parts.slice(1).join('');
        }
    }
</script>
<script>
    function formatQuantityInput(input) {
        // Kullanıcının girişini temizle
        input.value = input.value
            .replace(/[^0-9]/g, '')   // Sadece 0-9
    }
</script>