@model List<MvcOnlineTradingAutomation.Models.Entities.CargoTracking>
@{
    ViewBag.Title = "CustomerCargoTracking";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<br />
<h2>Kargo Hareketleri</h2>
<br />
<input type="hidden" name="TrackingCode" readonly />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Açıklama</th>
        <th>Tarih</th>
    </tr>
    @{ int count = 0;}
    @foreach (var x in Model)
    {
        <tr>
            <td>@{count++;} @count -</td>
            <td>@x.Description</td>
            <td>@x.Date</td>
        </tr>
    }
</table>

